.not-found
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	text-align: center
	height: calc( 100vh - 130px )
	&__code
		font-size: 70px
		color: $accent
		font-weight: 700
		margin-bottom: 30px
	&__message
		background-color: $accent
		color: #fff
		padding: 10px 20px
		text-transform: uppercase